/pos-ui/nbproject/private/
/pos-app/nbproject/private/
/pos-sale/nbproject/private/
/sale-product/nbproject/private/
/pos-product/nbproject/private/
/pos-inventory/nbproject/private/
/pos-product/dist/
/pos-product/build/
/pos-inventory/dist/
/pos-inventory/build/
/pos-database/nbproject/private/
/pos-database/build/
/pos-database/dist/
